# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.conda/

# Jupyter
.ipynb_checkpoints/

# Kaggle/outputs
kaggle_output/runs/
kaggle_output/yolo_runs/rdd2022_yolov8n/weights
kaggle_output/yolo_runs/rdd2022_yolov8n/args.yaml
*.csv
*.pt
kaggle_output/**/*.jpg
kaggle_output/**/training.log


# OS
.DS_Store
Thumbs.db
